<p>modal-img-perfil works!</p>

<div class="modal fade" id="imgPerfilModal" tabindex="-1" aria-labelledby="imgPerfilModal aria-hidden=true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imgPerfilModal">Editor de imagen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="imgPerfil" class="form-label">Editar imagen:</label>
                        <input type="url" placeholder="inserte url de imagen" id="imgPerfil" name="imgPerfil" required>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div> 