<div>
    <div class="error">404</div>
    <br /><br />
    <span class="info">File not found</span>
    <img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" /><div class="error">404</div>
    <br /><br />
    <span class="info">File not found</span>
    <img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" />
</div>
<div>
    <button type="button" name="button" routerLink="/" class="btn btn-info" style="margin-left: 48%; margin-top: 35%;">INICIO</button>
</div>
