<div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="assets/img/Foto portada.jpeg" alt="Foto-perfil" id="imgPerfil">
    </div>

                                <!-- Button trigger modal foto perfil--> 
    <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#imgPerfilModal" class="btn btn-close-white"><i class="fa-solid fa-pencil"></i></button>
    
    <div class="container text-center">  
        <div class="row">

            <div class="col-6">
                <h1 class="nombre" id="nombre">{{persona.nombre}}{{persona.apellido}}Paula Micaela Schuppe</h1>
                <h1 class="puesto">Full Stack developer trainee</h1>
            </div>
            
            <div id="sobreMi" class="col-6"><!--------- Button trigger modal ------------>  
                <h2 class="sobreMi">Sobre mi <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#sobreMiModal" class="btn btn-close-black"><i class="fa-solid fa-pencil"></i></button></h2>
                <p>
                Tengo 26 años, vivo en la ciudad de Posadas, provincia de Misiones, Argentina.  
                Soy una persona curiosa y me gusta resolver problemas. Aprender hace parte de mi día a día y los desafíos me motivan a encontrar las mejores soluciones. 
                </p>
            </div>
            
        </div>
    </div>
</div>
<app-modal-perfil></app-modal-perfil>
<app-modal-sobre-mi></app-modal-sobre-mi>