<p>sobre-mi works!</p>
<div>
    <section>
        <div id="perfil">
        <img src="assets/img/Foto portada.jpeg" alt="Foto-perfil" class="imgPerfil">
        <div class="container text-center">
            <div class="row">
                <div class="col-6">
                    <h1 class="nombre">Paula Micaela Schuppe</h1>
                    <h1 class="puesto">Full Stack developer trainee</h1>
                </div>
                <div id="sobreMi" class="col-6">
                    <h2 class="sobreMi">Sobre mi</h2>
                    <p>
                    Tengo 26 años, vivo en la ciudad de Posadas, provincia de Misiones, Argentina.  
                    Soy una persona curiosa y me gusta resolver problemas. Aprender hace parte de mi día a día y los desafíos me motivan a encontrar las mejores soluciones. 
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>