
#hard{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#html{
    background-color: orangered ;
    width: 30%;
}

#css{
    background-color: blueviolet;
    width: 20%;
}

#java{
    background-color: green;
    width: 50%;
}

.progress:hover{
    box-shadow: 0px 3px 8px 0.5px rgb(141, 140, 140);
}
