<router-outlet></router-outlet>

{{title}}

<!--por ahora poner acá en orden los componentes, en el servidor va a mostrar lo que pase en el componente-->
<app-header></app-header>
<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<app-sobre-mi></app-sobre-mi>
<!--qué hago con la seccion editar en angular?-->
<app-educacion></app-educacion>
<app-hard-skills></app-hard-skills>
<app-softs-skills></app-softs-skills>
<app-proyectos></app-proyectos>
<app-modal-login></app-modal-login>
<app-modal-img-perfil></app-modal-img-perfil>
<app-modal-nombre></app-modal-nombre>
<app-modal-info></app-modal-info>
<app-fin></app-fin>