<div>
    <section class="border text-center mt-4 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto m-0" id="softs">
                        <h2>Soft Skills</h2>
        <!----- Button trigger modal  soft--> 
                        <div class="d-flex col-auto mt-2">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#softModal" class="btn btn-close-black"><i class="fa-solid fa-pencil"></i></button>
                        </div>
                        <div class="blandas">
                            <ul class="list-group list-group-flush ml-2" id="items">
                                <li class="list-group-item" id="fondo">Capacidad para trabajar en equipo</li>
                                <li class="list-group-item" id="fondo">Capacidad para integración y comunicación
                                </li>
                                <li class="list-group-item" id="fondo">Resolución de problemas</li>
                                <li class="list-group-item" id="fondo">Aprendizaje constante</li>
                                <li class="list-group-item" id="fondo">Autodisciplina</li>
                                <li class="list-group-item" id="fondo">Compromiso</li>
                                <li class="list-group-item" id="fondo">Responsabilidad</li>
                                <li class="list-group-item" id="fondo"><strong>Inglés:</strong> Intermedio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   
    </section>
<app-modal-soft-skills></app-modal-soft-skills>
</div>