/* etiqueta html va directamente */
/* una clase va con "." adelante */
/* un ID va con # delante */
    /*color: white; /*color de las fuentes*/
    /*background-color: coral; color de fondo*/

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#yoProgramo{
    color: darkcyan;
    font-size: 16px; 

}

#redes{
    background-color: darkcyan;
    color: white;
}

.banner{            /*se edita la distancia de foto de perfil sobre el banner*/
    width: 100%;
    height: 3cm;
}

.img-fluid{         /* se edita el banner*/
    width: 100%;
    height: 10cm;
}

.imgPerfil{
    width: 5cm;
    height: 8cm;
    margin-left: 5cm;
}

.nombre{
    margin-right: 20%;
    font-size: 40px;
    font-style:italic ;
}

.puesto{
    font-size: 16px;
    margin-right: 25%;
    font-style:italic;
}

h2{
    color: darkcyan ; 
    font-size: 50px ;
    font-variant: small-caps;
}

#sobreMi{
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
    background-color: #a9b0c4;
    margin-bottom: 3%;
}

.sobreMi{
    color: black;
}

.col:hover {
    /*filter: grayscale(80%); escala de grises*/
    filter: opacity(.5);    /*transparencia*/
}

.col{
    text-align: center;
}

#html{
    background-color: orangered ;
}

#css{
    background-color: blueviolet;
}

#java{
    background-color: green;
}

.progress:hover{
    box-shadow: 0px 3px 8px 0.5px rgba(0, 0, 0, 2);
}

#contacto{
    text-align: center;
}