/* etiqueta html va directamente */
/* una clase va con "." adelante */
/* un ID va con # delante */

body{
    background-color: white; /*color de fondo*/
    color: black; /*color de fuente*/
}

#redes {
    text-align: center; /*texto centrado*/
    margin: auto; /*margen automatico*/
}

ul li{
    list-style-type: none;  /*para las viñetas*/
    margin-left: -3.5%; /*margen de la izq*/
}

.imgPerfil{
    border-radius: 10%;
    margin-top: 0rem; /*arriba*/
}

.NombrePerfil{
    font-size: 5rem;
}