<p>proyectos works!</p>
<div>
    <section id="proyectos" class="border text-center mt-4 pb-3">
        <h2>Proyectos</h2>
        <div class="container text-center">
            <div class="row align-items-start" id="card">
                <div class="col" id="img">
                    <h3><a href="https://github.com/Paulas12/Barberia-Alura-" target="_blank">Barbería "Alura"</a></h3> 
                    <p class="descripcion">Tienda desarrollada en HTML y CSS.</p>
                    <a href="https://github.com/Paulas12/Barberia-Alura-" target="_blank"><img src="assets/img/logo.png" class="card-img-top" style="height: 180px; width: 150px;" ></a>
                </div>
                <div class="col" id="img">
                    <h3><a href="https://github.com/Paulas12/FrontEnd" target="_blank">Portfolio web-FrontEnd</a></h3> 
                    <p class="descripcion">Frontend realizado con Angular como proyecto final de Argentina Programa - #YoProgramo.</p>
                    <a href="https://github.com/Paulas12/FrontEnd" target="_blank"><img src="assets/img/FrontEnd.jpeg" class="card-img-top" style="height: 150px; width: 340px;"></a>
                </div>
                <div class="col" id="img">
                    <h3><a href="https://github.com/Paulas12/Portfolio-BackEnd" target="_blank">Portfolio web-BackEnd</a></h3> 
                    <p class="descripcion">Backend realizado con Java como proyecto final de Argentina Programa - #YoProgramo.</p>
                </div>
            </div>
        </div> 
    </section>
    <br>
    <br>
</div>