#proyectos{
    margin-bottom: 200px;
    
}

.row{
    margin-left: 70px;
    margin-right: 50px;
}

.descripcion{
    font-size: 18px;
}

.col:hover{
    box-shadow: 0px 3px 8px 0.5px rgb(141, 140, 140);
}

#aluraImg{
    height: 180px; 
    width: 150px;
}

#frontImg{
    height: 150px; 
    width: 340px;
}

#backImg{
    height: 150px; 
    width: 340px;
}

@media (max-width: 575px){
    #proyectos{
        flex-direction: column;
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col{
        margin-bottom: 7em;
    }
}