<section id="navBar"> 
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid logoAP-texto">
        <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank"
          id="yoProgramo">
          <img class="logAp" src="assets/img/logoAP.png" alt="logo-argentina-programa" style="height: 1.3cm; width: 4cm"> <span><strong>#YoProgramo</strong></span></a>
        </div>
            <ul class="list-group list-group-horizontal"> <!--redes-->
                <li class="list-group-item" id="redes" ><i class="fa-brands fa-github"></i></li>
                <li class="list-group-item" id="redes"><i class="fa-brands fa-linkedin"></i></li>
                <li class="list-group-item" id="redes"><i class="fa-solid fa-at"></i></li>
            </ul>

            <!-- Button triger (disparador) modal login-->
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal"> Login</button>
          <button type="button" class="btn btn-dark"> Login Open </button>
    </nav>
</section>