<p>header works!</p>
<div><!----------Barra de navegacion---->
    <section id="navBar"> 
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid logoAP-texto">
            <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank" id="yoProgramo"><img class="logAp" src="assets/img/logoAP.png" alt="logo-argentina-programa" style="height: 1.3cm; width: 4cm"><span><strong> #YoProgramo </strong></span></a>
            </div>
                <ul class="list-group list-group-horizontal"> <!--redes-->
                    <li class="list-group-item" id="redes"><a href="https://github.com/Paulas12" target="_blank" style="color: white;"><i class="fa-brands fa-github"></i></a></li>
                    <li class="list-group-item" id="redes"><a href="https://www.linkedin.com/in/paula-schuppe-452a37233/" target="_blank" style="color: white;"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="list-group-item" id="redes"><a href="https://www.instagram.com/paula_schuppe/?hl=es-la" target="_blank" style="color:white;"><i class="fa-brands fa-instagram"></i></a></li>
                </ul><!-- Button triger (disparador) modal login-->
            <button id="login" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
        </nav>
    </section>
    
    <section><!------------------Banner------------------>
        <div class="banner">
            <div class="row">
            <div class="banner">
                <img src="assets/img/banner.jpg" alt="custom-banner" class="img-fluid">
            </div>
            </div>
        </div>
    </section>
</div>