#yoProgramo{
    color: darkcyan;
    font-size: 16px; 
    font-weight: bold;
}

#logAp{
    height: 50px;
    width: 150px;
    margin-right: 1em;
    margin-left: 1em;
}

#redes{
    background-color: black;
}

.ingreso{
    margin-right: 1cm;
}


/*--- Para la vista de celular ---*/
@media (max-width: 575px){
    .container-fluid{
        flex-direction: column;
    }

    .redes{
        display: flex;
        align-items: center;
        flex-direction: column;
        
        margin-left: 0.2em;
    }
    #redes{
        margin-bottom: 0;
    }
}
