<div class="row">
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank" id="yoProgramo"><img id="logAp" src="../../../assets/img/logoAP.png" alt="logo-argentina-programa"><span>     #YoProgramo    </span></a>
                    
            </div>

                                        <!--redes-->
            <ul class="redes list-group list-group-horizontal list-fluid">
                <li class="list-group-item" alt="logo-github" id="redes"><a href="https://github.com/Paulas12" target="_blank"><i class="fa-brands fa-github btn btn-outline-light"></i></a></li>

                <li class="list-group-item" alt="logo-linkedin" id="redes"><a href="https://www.linkedin.com/in/paula-schuppe-452a37233/" target="_blank"><i class="fa-brands fa-linkedin btn btn-outline-light"></i></a></li>
                    
                <li class="list-group-item" alt="logo-instagram" id="redes"><a href="https://www.instagram.com/paula_schuppe/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram btn btn-outline-light"></i></a></li>

                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut" *ngIf="isLogged">CERRAR SESION</button>
            </ul>
        </div>
    </nav>
</div>