<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'Java'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'Javascript'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="25"
            [radius]="100"
            [title]="'MySQL'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'SpringBoot'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'Html'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'GitHub'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'Css'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'Boostrap'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#5878ca'"
            [innerStrokeColor]="'#5878ca'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="15"
            [radius]="100"
            [title]="'Inglés A1'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [title]="'Trabajo en equipo'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'Empatía'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'Actitud positiva'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'Adaptable'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-2 circulo">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'Responsable'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#a1b5cb'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
    ></circle-progress>
    
</div>