#educacion{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}

.cole:hover {
    /*filter: grayscale(80%); escala de grises*/
    filter: opacity(.5);    /*transparencia*/
}

.cole{
    text-align: center;
    font-size: 18px;
}

.card-img-top{
    width: 90%;
    margin: auto;
}